<h1><%=@tasks.title %></h1>

<p><%= @tasks.details %></p>
<p><%= "Completed: #{@tasks.completed} " %></p>

<%= link_to 'Back to list', tasks_path()  %>

<button> <%=link_to 'Edit', edit_path %></button>
